@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Q = SiteTextProvider.Get(CultureInfo.CurrentUICulture.Name).Questionnaire;
    ViewData["Title"] = Q.CompletedTitle;
}
<div class="q-page">
    <div class="q-container q-message">
        <h1>@Q.CompletedTitle</h1>
        <p>@Q.CompletedText1</p>
        <p>@Html.Raw(Q.CompletedText2)</p>
    </div>
</div>
