@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Q = SiteTextProvider.Get(CultureInfo.CurrentUICulture.Name).Questionnaire;
    ViewData["Title"] = Q.ExpiredTitle;
}
<div class="q-page">
    <div class="q-container q-message">
        <h1>@Q.ExpiredTitle</h1>
        <p>@Html.Raw(Q.ExpiredText)</p>
    </div>
</div>
