@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Link istekao";
}
<div class="q-page">
    <div class="q-container q-message">
        <h1>Link je istekao</h1>
        <p>Ovaj link za upitnik više nije aktivan. Kontaktirajte me na <a href="mailto:zoransimeunovic@outlook.de">zoransimeunovic@outlook.de</a> i poslat ću vam novi link.</p>
    </div>
</div>
